h1	{color:#b30000;
	margin-left: 15px }

h2	{color:#4d0000;
	 color: #990033 ;
	margin-left: 15px}

#nav	{	border:3px dashed #0052cc; 
			margin : 10px 5px 15px 20px;
			padding: 10px 10px 10px 10px; }



#nav	a	{ text-decoration: none ; color: #990099; }

.recommended	{
					font-family: Tahoma ;
					margin-left: 15px;
				}